@{
    ViewData["Title"] = "Crédits";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
<br/> 
<p class="centrertexte">Ce site a été codé par Nanor Otabachian et Adrien Bourdin, élèves en deuxième année à l'Ecole Nationale Supérieure de Cognitique de Bordeaux.</p>

<img src="https://www.actuia.com/wp-content/uploads/2018/05/%C3%89cole_nationale_sup%C3%A9rieure_de_cognitique_Logo_2014.png" alt="" class="w-25"/>
</div>

