@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">NUDGE</h1>
    <p>Réalisez vos objectifs tout en vous amusant avec vos amis.</p>
        <img src="https://t3.ftcdn.net/jpg/00/26/43/56/360_F_26435684_nI2nmc5VtQ0N3vbBld4DQFGSXN0G54vj.jpg" height="250" alt="nudge illustration">
    <p>Le but ici est simple : vous permettre à vous ainsi qu'à vos amis de vous lancer des défis mutuellement, à réaliser dans un temps imparti ! Vous pouvez même vous décerner des médailles pour les plus motivés... Tout le monde peut géréer les défis de tout le monde, consulter les défis en cours, les profils, et même en créer simplement ! Alors, qu'attendez vous pour vous lancer ?</p>
</div>
